.App {
  text-align: center;
  width: calc(100vw - calc(20vmin));
  height: auto;
  margin-left: calc(20vmin);


}


.app-layout {
  display: flex;
  height: auto;
  background-color: #6b0000;
  width: auto;

}

.myPicture {
  background-color: #6b0000;
  margin-left: calc(5vmin);
  width: auto;
  height: auto;


}



.profile {
  width: 280px;
  height: 280px;
  padding: 30px;
  margin-top: calc(2.5vh);
}

.myDescription {
  display: flex;
  width: auto;
  color: white;
  background-color: #6b0000;
}
.TheDescription {
  diplay: flex; 
  width: auto; 
  padding: 20px; 
}

.MyName {
  font-size: calc(10px + 8vmin);
  background-color: goldenrod;

}

.titles {
  text-align: left;
  height: 100vh;
  width: calc(20vmin);
  display: table;
  background-color: grey;
  color: rgb(0, 0, 0);
  padding: 20px;
  border-right: 2px solid #555;
  position: fixed;

}

.Resume {
  height: 100vh;
  width: 85vw;
  background-color: #6b0000;

}


.ResumeButton {
  font-style: normal;
  padding: 10px;
  background-color: goldenrod;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 10px black;

}

.ResumeButton:hover {
  background-color: rgba(218, 165, 32, 0.603);
}

.Columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  padding: 10px;
  width: 80.5vw;
  height: auto;
  margin-left: auto;



}

.Section {
  display: flex;
  padding: 5px;
  color: black;
  background-color: goldenrod;
  border-radius: 8px;
  box-shadow: 1vw .5vw 1vw black;
  margin-left: 1vw;
  margin-right: 1vw;

}

.MainTitleOption {
  display: flex;
  padding: 15px;
  color: black;
  text-align: Left;
  width: calc(80vmin);
  margin-left: 2vw;
  height: auto;
  font-weight: 700;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 30vh; 
}

.Header {
  display: flex;
  padding: 5px;
  color: black;
  text-align: Left;
  font-weight: 600;
  font-size: calc(10px + 1vmin);
  color: black;
}

.Description {
  display: flex;
  padding: 5px;
  color: black;
  text-align: Left;
  font-weight: 400;
  font-size: 15px;
  color: black;
}

.borderOfButton {
  padding: 20px;
  margin-top: 30vh; 
  margin-bottom: 5vh; 
}

.Box {
  display: flex;
  padding: 5px;
  color: black;
  background-color:goldenrod;
  margin-left: 1vw;
  margin-right: 1vw;

}

.AboutMe {
  display: flex;
  padding: 15px;
  color: black;
  text-align: Left;
  width: calc(80vmin);
  margin-left: 2vw;
  height: auto;
  font-weight: 700;
  font-size: calc(10px + 2vmin);
  color: white;
}