.App {
  text-align: center;
  width: 85vw;
  margin-left: auto; 
  
}


.app-layout {
  display: flex; 
  height: 100vh;
  background-color: #6b0000; 
}

.myPicture {
  padding: 20px; 
  
  
}

.profile {
  width: 280px; 
  height: auto; 
  padding: 20px; 
}
.myDescription {
  display: flex;
  width: auto; 
  color: white; 
  background-color: #6b0000;
  padding: 20px; 
}
.MyName {
  font-size:calc(10px + 8vmin) ; 
  background-color: gold;

}

.titles {
  text-align: left;
  min-height: 100vh;
  min-width: 15vw;
  display: table;
  background-color: gold;
  color: rgb(0, 0, 0); 
  width: 250px; 
  padding: 20px; 
  border-right: 2px solid #555; 
  position: fixed; 
  
}
.Resume {
  height: 100vh; 
  width: 85vw; 
  background-color: #6b0000;

}
.AboutMe {
  font-size: calc(10px + 2vmin);
  display: flex; 
  text-align: right;
  width: 81.5vw; 
  height: 1vh;
  margin-left: auto; 
  font-weight: 700;
  color: white;
  
  
}


