.App {
  text-align: center;

  height: auto;
  margin-left: calc(15vmin);
  width: stretch; 

}


.app-layout {
  display: flex;
  height: auto;
  background-color: #6b0000;
  width: auto;

}

.myPicture {
  background-color: #6b0000;
  margin-left: calc(5vmin);
  width: auto;
  height: auto;


}



.profile {
  width: 280px;
  height: 280px;
  padding: 30px;
  margin-top: calc(2.5vh);
}

.myDescription {
  display: flex;
  width: auto;
  color: white;
  background-color: #6b0000;
}
.TheDescription {
  display: flex; 
  width: auto; 
  padding: 20px; 
}

.MyName {
  font-size: calc(10px + 8vmin);
  background-color: goldenrod;
  width: stretch; 
  

}

.titles {
  text-align: left;
  height: 100vh;
  width: calc(15vmin);
  display: table;
  background-color: grey;
  color: rgb(0, 0, 0);
  padding: 20px;
  border-right: 2px solid #555;
  position: fixed;
   


}
.SidebarButton {
  background-color: grey;
  color: black; 
  height: auto; 
  width: stretch; 
  margin-top: 20px;
  margin-bottom: 20px; 
  outline: none; 
  border: none; 
  box-shadow: none; 
  
  
}


.Resume {
  height: 100vh;
  width: 85vw;
  background-color: #6b0000;

}


.ResumeButton {
  font-style: normal;
  padding: 10px;
  background-color: goldenrod;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 10px black;

}

.ResumeButton:hover {
  background-color: rgba(218, 165, 32, 0.603);
}

.Columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  padding: 10px;
  width: 80.5vw;
  height: auto;
  margin-left: auto;



}

.Section {
  display: flex;
  padding: 5px;
  color: black;
  background-color: goldenrod;
  border-radius: 8px;
  box-shadow: 1vw .5vw 1vw black;
  margin-left: 1vw;
  margin-right: 1vw;

}

.MainTitleOption {
  display: flex;
  padding: 15px;
  color: black;
  text-align: Left;
  width: calc(80vmin);
  margin-left: 2vw;
  height: auto;
  font-weight: 700;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 30vh; 
}

.Header {
  display: flex;
  padding: 5px;
  color: black;
  text-align: Left;
  font-weight: 600;
  font-size: calc(10px + 1vmin);
  color: black;
}

.Description {
  display: flex;
  padding: 5px;
  color: black;
  text-align: Left;
  font-weight: 400;
  font-size: 15px;
  color: black;
}

.borderOfButton {
  padding: 20px;
  margin-top: 30vh; 
  margin-bottom: 5vh; 
}

.tag-list {
  width: auto; 
  font-family: "Montserrat"; 
  position: relative; 
  overflow: hidden; 
  margin-left: 12vw;
  margin-right: 8vw; 
  height: 10vh; 

}

.inner{
  width: fit-content;
  height: 10vh;
  display: flex; 
  gap: 1rem; 
  animation: loop 15s linear infinite alternate; 

}

.tag{
  display: flex; 
  align-items: center;
  gap: 0 0.2rem; 
  color: black; 
  font-size: .9rem;
  background-color: goldenrod;
  padding: .7rem 1rem; 
  border-radius: 0.4rem;
  box-shadow: 
    0 0.1rem 0.2rem black,
    0 0.1rem 0.3rem black,
    0 0.2rem 0.5rem black;

}





@keyframes loop {
  0%,
  13% {
    transform: translateX(0); 
  }
  50% {
    transform: translateX(-25%); 
  }
  65%, 
  75% {
    transform: translateX(-25%); 
  }
  100% {
    transform: translateX(0);
  }
}

.AboutMe {
  display: flex;
  padding: 15px;
  color: black;
  text-align: Left;
  width: calc(80vmin);
  margin-left: 2vw;
  height: auto;
  font-weight: 700;
  font-size: calc(10px + 2vmin);
  color: white;
}