.App {
  text-align: center;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6b0000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-layout {
  display: flex; 
  height: 100vh; 
}

.myPicture {
  padding: 20px; 
  
}

.profile {
  width: 200px; 
  height: auto; 
  padding: 20px; 
}
.myDescription {
  display: flex;
  width: 84vw; 
  color: white; 
  background-color: #6b0000;
  padding: 20px; 
}
.MyName {
  font-size:calc(10px + 8vmin) ; 

}

.titles {
  text-align: left;
  min-height: 20vh;
  min-width: fit-content;
  display: table;
  background-color: gold;
  color: rgb(0, 0, 0); 
  width: 250px; 
  padding: 20px; 
  border-right: 2px solid #555; 
  
}


