.App {
  text-align: center;
  width: 85vw;
  height: auto; 
  margin-left: auto; 

  
}


.app-layout {
  display: flex; 
  height: auto;
  background-color: #6b0000; 
}

.myPicture {
  padding: 20px; 
  
  
}

.profile {
  width: 280px; 
  height: auto; 
  padding: 20px; 
}
.myDescription {
  display: flex;
  width: auto; 
  color: white; 
  background-color: #6b0000;
  padding: 20px; 
}
.MyName {
  font-size:calc(10px + 8vmin) ; 
  background-color: gold;

}

.titles {
  text-align: left;
  min-height: 100vh;
  min-width: 15vw;
  display: table;
  background-color: gold;
  color: rgb(0, 0, 0); 
  width: 250px; 
  padding: 20px; 
  border-right: 2px solid #555; 
  position: fixed; 
  
}
.Resume {
  height: 100vh; 
  width: 85vw; 
  background-color: #6b0000;

}
.AboutMe {
  font-size: calc(10px + 2vmin);
  display: flex; 
  text-align: right;
  width: 81.5vw; 
  height: 1vh;
  margin-left: auto; 
  font-weight: 700;
  color: white;
  
  
}
.ResumeButton {
  font-style:normal;
  padding: 10px; 
  background-color: gold;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 10px black;

}
.ResumeButton:hover{
  background-color: goldenrod;
}
.WorkHistoryColumns{
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; 
  padding: 10px; 
  width: 81.5vw; 
  height: auto; 
  margin-left: auto; 



}
.Section {
  display: flex; 
  padding: 5px; 
  color: black;
  background-color: gold;
  
}
.WorkHistoryTitle {
  display: flex; 
  padding: 15px; 
  color: black; 
  text-align: Left; 
  width: 81.25vw; 
  margin-left: auto; 
  height: auto; 
  font-weight: 700;
  font-size: calc(10px + 2vmin);
  color: white; 

}

.Header{
  display: flex; 
  padding: 5px; 
  color: black; 
  text-align: Left; 
  font-weight: 600;
  font-size: calc(10px + 1vmin);
  color: black; 
}

.Description {
  display: flex; 
  padding: 5px; 
  color: black; 
  text-align: Left; 
  font-weight: 400;
  font-size: 15px;
  color: black; 
}



